<?xml version="1.0" encoding="UTF-8"?>
<module>
	<grants />
	<permissions />
	<actions>
		<action name="dispLoginlogAdminList" type="view" admin_index="true" menu_name="loginlog" menu_index="true" />
		<action name="dispLoginlogAdminSetting" type="view" menu_name="loginlog" />
		<action name="dispLoginlogAdminArrange" type="view" menu_name="loginlog" />

		<action name="procLoginlogAdminInsertConfig" type="controller" />
		<action name="procLoginlogAdminSaveListSetting" type="controller" />
		<action name="procLoginlogAdminInitLogs" type="controller" />
	</actions>
	<menus>
		<menu name="loginlog">
			<title xml:lang="ko">로그인 기록</title>
		</menu>
	</menus>
</module>